.cover__title {
  max-width: 560px;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 32px;
}

@media (max-width: 568px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 1.09;
  }
}
